<div class="project__wrapper">
    <div class="project__toolbar">
        <tsk-project-view-nav [projectId]="projectId()"></tsk-project-view-nav>
        <div class="list-controls__group">
            <button matIconButton matTooltip="Edit Swimlanes" (click)="sort()">
                <mat-icon>sort</mat-icon>
            </button>
            <button matIconButton matTooltip="Rearrange Swimlanes" (click)="filter()">
                <mat-icon>filter_alt</mat-icon>
            </button>
        </div>
    </div>
    <div class="project__content">
        <h3>List</h3>
    </div>
</div>