@use "colors" as *;
@use "defaults" as *;

.create-task__card {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: .8em .5em;
    border-radius: .2em;
    border: $border;
    background-color: $white-color;

    .create-task__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5em;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .5em;

        input[type="text"] {
            padding: .5em;
            border: $border;
            border-radius: .2em;
        }
    }
}