@use "sass:color";

$primary-color: #2A99F4;
$secondary-color: #E9E9E9;

$black-color: #333333;
$white-color: #FFFFFF;
$off-white-color: #fdfcfc;
$grey-color: #777;
$light-grey-color: #E0E0E0;


$priority-critical: #DE350B;
$priority-high: #FFAB00;
$priority-medium: #2684FF;
$priority-low: #97A0AF;
$priority-minimal: #E0E0E0;

$border-color: $light-grey-color;

$progress-gradient: linear-gradient(90deg, #4caf50, #81c784);