@use "sass:color";
@use "colors" as *;

$border: 1px solid $border-color;
$border-radius: 8px;
$box-shadow: 0 2px 6px rgba(0,0,0,0.05);
$box-shadow-hover: 0 2px 6px rgba(0,0,0,0.1);

$hover-grey: color.adjust($grey-color, $lightness: 40%);

.tsk-icon__btn {
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2.1em;
    height: 2.1em;
    padding: 0;
    color: $black-color;

    background-color: rgba($hover-grey, 0);
    transition: background-color .1s ease-in-out, opacity .1s ease-in-out;

    &:hover {
        background-color: rgba($hover-grey, 9);
    }
}