<div class="task__card">
    <div class="task__header">
        <div class="priority__status" [ngClass]="task()?.priority | lowercase">{{task()?.priority | titlecase}}</div>
    </div>
    <div class="task__body">
        <div>
            <h3>{{task()?.title | titlecase}}</h3>
            <p>{{task()?.description}}</p>
        </div>
        <div class="sub-tasks__container">
            <div class="sub-tasks__header">
                <h4>Subtasks</h4>
                <button class="tsk-icon__btn" (click)="toggleNewTaskCard()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="sub-tasks__body">

            </div>
        </div>
    </div>
    <!-- <div class="task__footer">
        <a>{{task()?.id}}</a>
    </div> -->
</div>