@use 'colors';

.main__layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: colors.$white-color;
    
    .main__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}