:host {
    width: 100%;
}

.search-bar__container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: .4rem;
    padding: .4rem;
    gap: .2rem;

    input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        background-color: transparent;
    }
}