:host {
    flex: 1;
}

.dashboard__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    height: calc(100% - 2em);

    .swimlanes__container {
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex: 1;
    }
}
